/*General Option Start*/ 
 *{
	user-select: none;
    
}	
/* 
body{
  background: #000;
	background-color: black;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;

	overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
} */


body{
  --primary-color: #e7e0ee ;
  --sec-color: #f3f1f5 ;
  --menu-color: #DB6400 ;
  --menu-colorREV: #166974 ;
  --Burger-color: #0f0f0f;
  --hover-color: #11052c;
  --color: #1f1f1f;
  --text-color: #1a1a1a;
}
body[data-theme="dark"]{
  --primary-color: #0f0f0f;
  --menu-color: #166974 ;
  --menu-colorREV: #DB6400 ;
  --Burger-color: #e7e0ee;
  --hover-color: #ededed;
  --text-color: #f0f0f0;
  --sec-color: #1a1a1a;
  --color: #f0f0f0;
}

body{
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: var(--primary-color);
  color: var(--color);
}

.MenuCantine {
  max-width: 100%;
  height: 800px;
}

/*General Option End*/ 





/* Police option Start*/
*{
    font-family: -apple-system, BlinkMacSystemFont, 'SF Mono Regular', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--text-color);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
h1{
	font-size: 400%;
	text-align: center;
	padding: 400px 0;
	letter-spacing: 0.1rem;
}

h5{
    text-align: center;
    font-size: 400%;
    user-select: all;
  }

h6{
    display: block;
    font-size: 2em;
    margin-top: -0.001em;
    margin-bottom: 0.67em;
    margin-left: 0.1em;
    margin-right: 0;
    font-weight: bold;
    color: var(--menu-colorREV);
  }

  h1.NavH{
   font-size: 30px;
   position: relative;
   padding-top: 100px;
   padding-bottom: 5px;
   
  }

/* Police option End*/

/*Dark Mode Start*/
.btn{
  width: 150px;
  height: 40px;
  border-radius: 20px;

  margin-top: 1em;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.151);
  cursor: pointer;
  background: var(--sec-color);
  color: var(--color);
  transition: all .4s;
}

.btn:hover{
  background: var(--hover-color);
  color: var(--text-color);
} 

.DarkMode{
  width: 100px;
  height: 50px;
  position: absolute;
  color: var(--color);
  top: 50%;
  left: 5%;
  transform: translate(-50%);
  border-radius: 10px;
  overflow: hidden;
}

.DarkMode .box{
  position:absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: var(--color);
  transition: all .4s;
}

.DarkMode input{
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-appearance: none;
  cursor: pointer;
  z-index: 10;
  
}

.DarkMode input:checked ~ .box{
  transform: rotate(180deg);
}

.DarkMode input:checked ~ .box i{
  transform: rotate(180deg);
  
} 
/*Dark Mode End*/



/* Link option Start*/
    /* Link option menu Start*/
.menu a:link {
    color: var(--text-color);
    background-color: transparent;
    text-decoration: none;
  }
.menu a:visited {
    color: var(--text-color);
    background-color: transparent;
    text-decoration: none;
  }
.menu a:hover {
    color: var(--text-color);
    background: transparent;
    text-decoration: none;
  }
.menu a:active {
    color: var(--text-color);
    background-color: transparent;
    text-decoration: none;
  }
  /* Link option menu End*/

 /* Link option Card Start*/
 .card a:link {
    color: var(--menu-colorREV);
    background-color: transparent;
    text-decoration: none;
  }
.card a:visited {
    color: var(--menu-colorREV);
    background-color: transparent;
    text-decoration: none;
  }
.card a:hover {
    color: var(--menu-colorREV);
    background: transparent;
    text-decoration: none;
  }
.card a:active {
    color: var(--menu-colorREV);
    background-color: transparent;
    text-decoration: none;
  }

 /* Link option Card End*/

/* Link option End*/  








/* Burger Menu Start*/
.burger-wrapper {
  cursor: pointer;
}

#meny {
    /* background: var(--menu-color);
    width: 280px;
    height: 100vh;
    border-radius: 10px;
    position: fixed;
    right: 0;
    transition-timing-function: cubic-bezier(10,2,3,1);
    transform: translateX(50rem);
    top: 1px;
    z-index: 0;
    transition: 0.5s; */



    box-sizing: border-box;

    position: fixed;
    width: 220px;
    height: 830px;
    right: 1px;
    top: 2px;
    background: var(--menu-color);
    border: 0.1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    transition: 0.5s;
    transform: translateX(50rem);
    transition-timing-function: cubic-bezier(10,2,3,1);


}

#menyAvPaa {
    display: none;
}

#menyAvPaa:checked ~ #meny {
    transform: translateX(0rem);
}

#burger {
    position: absolute;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    right: 1rem;
    top: 1rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#burger > div {
    height: 2px;
    background-color: var(--Burger-color);
    transition: 0.5s;
    z-index: 999;
}

#menyAvPaa:checked ~ #burger > div {
  background-color: var(--Burger-color);
}

#menyAvPaa:checked ~ #burger > div:nth-child(1) {
    transform: translateY(15px) rotate(45deg);
}

#menyAvPaa:checked ~ #burger > div:nth-child(2) {
    opacity: 0;
}

#menyAvPaa:checked ~ #burger > div:nth-child(3) {
    transform: translateY(-15px) rotate(-45deg);
}

nav li{
    content:none;    
}
nav#meny{
    content: none;
}

/* Burger Menu end*/





 /*Cards Start*/
  .card{
    width: 250px;
    height: 250px;
    margin: 2em;
    display: flex;
    justify-content: column;
    position: relative;
    cursor: pointer;
    transition: all .4s;
  }
  
  .card:hover{ color: white;}
  
  .card::before, .card::after{
    content: '';
    position: absolute;
    top : 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--menu-colorREV);
    z-index: -1;
    border-radius: 10px;
    transition: all .4s;
  }
  
  .card::after{
    background: var(--menu-color);
    transform-origin: right bottom;
    transform:  translate(10%, 10%) scale(0.3);
    border-radius: 50%;
    transition: all .4s;
  }
  
  .card:hover::after{
    transform: translate(0) scale(1);
    border-radius: 0;
    border-radius: 10px;
  }
  
  .card:hover::before{
    transform-origin: right bottom;
    transform: translate(10%, 10%) scale(0.3);
    border-radius: 50%;
    z-index: 1;
  }
    /*Credit to @coding_gyan on instagram for the card section*/
 /*Cards End*/


 /*Button Dowload start*/
.buttonDL{
  display: inline-block;
  outline: none;
  background-color: transparent;
  background-position-x: center ;
  background-position-y:bottom;
  width: 220px;
  height: 60px;
  border: 3px solid #333;
  color: #333;
  font-size: 20px;
  font-weight: bold;
  border-radius: 50px;
  text-align: center;
  cursor: pointer;
  transition: all ease 0.5s;
}

.buttonDL.active{
  left: 50% + 110px;
  font-size: 0px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-left-color: transparent;
  animation: rotate .8s ease 0.5s infinite;
}

@keyframes rotate{
  0%{
    transform: rotate(360deg);
  }
}

.buttonDL.success{
  position: relative;
  border-color: green;
  animation: bounce .3s ease-in;
}

@keyframes bounce{
  0%{
    transform: scale(0.9);
  }
}

.buttonDL.success::before{
  content: '';
  position: absolute;
  background: url('check-solid.svg') no-repeat;
  left: 0px;
  right: 0px;
  top: 8px;
  margin: 0 auto;
  width: 30px;
  height: 30px;
}

 /*Button Dowload end*/

