body{
	background:  url(../IMG/BW\ back.png);
	background-size: cover;
	background-position: center;
	
}

h1{
	font-family: Bodomy MT;
	color: white;
	font-size: 400%;
	text-align: center;
	padding: auto;
	padding: 400px 0;
  	
}

h2{
	font-family: Bodomy MT;
	color: white;
	font-size: 200%;
	position:absolute;
	padding: 200px;	
}
